<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
          </head>
          <body>
            <div class= 'signin'>
<h1>{{title}}</h1>
<img class ="userPic" src ="{{user.profilePic}}">
<h4 class='userName'> Hello {{user.fullname}}, <br> <a href="#">Logout </a>
</h4>

<input type='text' class="newRoom">
<button class="create">Create Room</button>
  <br>
<div class='chat'>
  <h3>Available Chats</h3>
</div>
  <ul class='chatlist'>
  <li>This Room</li>
  </ul>
</div>




          </body>
        </html>
