<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src = '/socket.io/socket.io.js'></script>
        <script src ="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>

        $(function (){
          var host = '{{config.host}}';
          var messages = io.connect(host + '/msgs');
          var roomNum = {{room_number}};
          var userName = '{{user.fullname}}';
          var userPic = '{{user.profilePic}}';


          messages.on('connect', function (){
            console.log('Connection established !')
            messages.emit('joinroom', {room:roomNum, user:userName,  userPic:userPic})
          })
          $(document).on('keyup', '.msgtext', function (e){
            if(e.which == 13 && $(this).val()!=''){
              messages.emit('newMsg',{
                room_number:roomNum,
                user:userName,
                userPic:userPic,
                message:$(this).val()
              })
              updateChat(userPic, $(this).val());
              $(this).val('')
            }
          })
          messages.on('messagefeed',function(data){
            var msgs = JSON.parse(data);

            updateChat(msgs.userPic, msgs.message);
          })


          function updateChat(userPic, message){
            var str = "<li>"
                str += '<img class ="chatpic" src ="'+userPic+'"><h5>'
                str+=message;
                str+='</h5>';
                str+='</li>';
            $(str).prependTo($('.msgbox '))
          }

          messages.on('updateUsersList', function (data){
            var userlist = JSON.parse(data);
            console.log(JSON.parse(data));
            $('.users').html('');
            for (var n=0; n <=userlist.length; n++){
              var str = '<li><img class ="userPic" src ="'+ userlist[n].userPic + '"><h6>' + userlist[n].user + '</h6></li>';
              $(str).hide().prependTo($('.users')).slideDown(100)}

          })
          setInterval(function(){
            messages.emit('updateList',{room:roomNum});

          }, 15 * 1000);
        })


        </script>

          </head>
          <body>
            <div class= 'signin'>
<h1>{{title}}</h1>
<h4 class='userName'> Hello {{user.fullname}} <br> <a href="/logout">Logout </a> || <a href="/chatrooms"> More chatrooms </a>
</h4>
  <br>
  <h3> Room: {{room_name}}</h3>
<div class='chat'>
<ul class='msgbox'>
</ul>
</div>
<div class='msgtextbox'>
<input type='text' class="msgtext" placeholder="Type your message">
</div>
<div class='activeusr'>
  <h4>Active Users</h4>
  <ul class = 'users'>
     <li><img class ="userPic" src ="{{user.profilePic}}"><h6>{{user.fullname}}</h6></li>
    </ul>
</div>


</div>



          </body>
        </html>
