body{
  background-color: #A0B4E2;
  color: #4D5872;
  font-family: 'Lato';
}
.signin{
  background-color: #FFC859;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 20%;
  padding: 1%;
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
}

.chat{
  background-color: #C7CDDC;
  border: 2px solid black;
  border-radius: 12px;
  text-align:justify;s
}
.chatlist{
  background-color: #FFC859;
  border: 2px solid black;
  border-radius: 12px;
  padding: 1%;

  transition: all 0.5s ease;
}
.chatlist:hover{
  background-color: #4D5872;
  color: #FFC859;
}
.fblogin{
  max-width: 25%;
}
